/* Fuentes */

@font-face {
    font-family: "Avenir";
    src: url('../fonts/Avenir-Book.ttf');
}

/* Reseteo */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

/* Generales */

html {
    font-size: 20px;
}

@media (max-width: 440px) {
    html {
        font-size: 18px;
    }
}

body {
    font-family: "Avenir", sans-serif;
    color: #67666e;
}

img {
    max-width: 100%;
}

p {
    margin-bottom: 0.8rem;
}

/* Hero */

.hero {
    width: 100%;
    height: 100vh;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

@keyframes heroAnimation {
    0% {
        opacity: 0;
        animation-timing-function: ease-in;
    }

    12% { opacity: 1;}

    25% { transform: scale(1.2);}

    75% {
        opacity: 0;
        transform: scale(1.1);
    }

    100% {
        opacity: 0;
    }
}

.hero div {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    background-repeat: none;
    opacity: 0;
    animation: heroAnimation 18s infinite;
}

.hero div:nth-child(1) {
    background-image: url('../img/front1.jpg');
}

.hero div:nth-child(2) {
    background-image: url('../img/front2.jpg');
    animation-delay: 6s;
}

.hero div:nth-child(3) {
    background-image: url('../img/front3.jpg');
    animation-delay: 12s;
}

.hero .hero-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: none;
    opacity: 1;
    width: 30%;
    height: auto;
}

.hero .hero-down {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: none;
    opacity: 1;
    width: 5%;
    height: auto;
}

@media (max-width: 720px) {
    .hero .hero-logo {
        width: 60%;
    }
    .hero .hero-down {
        width: 15%;
    }
}

@media (max-width: 400px) {
    .hero .hero-logo {
        width: 80%;
    }
    .hero .hero-down {
        width: 20%;
    }
}

/* Header */

header {
    background-color: white;
    box-shadow: 1.5px 1.5px 4px #b3b3b3;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    transition: 600ms all ease-in-out;
}

header.transparente {
    background-color: transparent;
    box-shadow: none;
}

header img {
    height: 60px;
    width: auto;
}

header nav a {
    color: #67666e;
    font-weight: normal;
    margin-left: 1em;
    transition: 300ms ease-in-out all;
}

header.transparente nav a {
    color: rgba(255, 255, 255, 0.9);
}

header nav a.activo,
header nav a:hover {
    color: #a97c50;
    font-weight: bold;
}

header.transparente nav a.activo,
header.transparente nav a:hover {
    color: white;
}

/* Botón burger */

#burger {
    position: fixed;
    top: 1rem;
    left: 1rem;
    cursor: pointer;
    z-index: 10;
    display: none;
}

#burger .barra {
    width: 30px;
    height: 2px;
    margin: 6px;
    background-color: #a97c50;
    transition: 400ms all ease-in-out
}

#burger.abierto .barra {
    background-color: white;
}

#burger.abierto .barra.superior {
    transform: translateY(8px) rotateZ(45deg);
}

#burger.abierto .barra.media {
    width: 0;
}

#burger.abierto .barra.inferior {
    transform: translateY(-8px) rotateZ(-45deg);
}

@media (max-width: 620px) {
    #burger {
        display: block;
    }

    header {
        justify-content: flex-end;
    }

    header nav {
        display: none;
    }
}

/* Menú lateral */

.menu {
    width: 360px;
    height: 100vh;
    background-color: #424242;
    position: fixed;
    top: 0;
    left: -360px;
    padding-top: 40px;
    transition: all 700ms ease-in-out;
}

.menu.abierto {
    left: 0;
}

.menu nav {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.menu nav a {
    padding: 0.6rem 0;
    color: rgba(255, 255, 255, 0.75);
    font-size: 1.1rem;
    transition: 300ms all ease-in-out;
}

.menu nav a:hover {
    color: white;
}

.menu .copyright {
    color: rgba(255, 255, 255, 0.75);
    font-size: 0.9rem;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0.5rem;
    text-align: center;
    width: 100%;
}

